@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/YekanBakh/YekanBakh-Regular.woff2") format("woff2"),
        url("../fonts/YekanBakh/YekanBakh-Regular.ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/YekanBakh/YekanBakh-Medium.woff2") format("woff2"),
        url("../fonts/YekanBakh/YekanBakh-Medium.ttf") format("truetype");
}

body {
    font-family: YekanBakh !important;
    text-align: right !important;
    direction: rtl !important;
}

.v-btn {
    letter-spacing: 0px !important;
}
.v-label {
    transform-origin: right center !important;
    right: 0 !important;
}
input {
    outline: 0 !important;
    text-align: right;
}
input:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
